/* Add Movie Component */

.box {
  position: absolute;
  padding: 10px;
  top: 7em;
  left: 50%;
  height: 440px;
  width: 730px;
  background-color: #242424;

  align-items: center;
  justify-content: center;
}

.liteflix2 {
  display: inline-flex;
  align-items: center;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 34px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #64eebc;
}

.closeButton {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.closeButton img {
  width:20px;
  height:20px;
  margin: 10px;

 
}

.boxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.addMovieBox {
  font-family: Bebas Neue;
  font-size: 20px;
  font-weight: 100;
  margin: 25px;
  width: 600px;
  height: 120px;
  outline: dashed 1px white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieName input {
  font-family: Bebas Neue;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: white;
  border: none;
  border-bottom: 2px solid white;

  background-color: transparent;
  margin: 10px;
}

.movieName input::placeholder {
  color: white;
  font-weight: 100;
}

.movieName textarea:focus,
input:focus {
  outline: none;
}

.buttonBox {
  display: flex;
  justify-content: center;
}

.buttonBox button{
  width: 250px;
  margin: 20px 0 20px 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  background: #FFFFFF;
	color: black;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.exitButton button{
  width: 250px;
  margin: 20px 0 20px 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.buttonBox button:disabled{
  background-color: darkgrey;
  cursor: default;
}

@media screen and (max-width: 875px) {
  .box {
    position: absolute;
    padding: 10px;
    top: -1em;
    left: -69%;
    height: 100vh;
    width: 95vw;
    background-color: #242424;
    align-items: center;
    justify-content: center;
  }

  .liteflix2 {
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 80px;
  }

  .boxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .boxContainer label {
    width: 100%;
    display: contents;
  }


  .addMovieBox {
    margin: 65px 0 65px 0;
    width: 300px;
    height: 100px;
  }

  .movieName {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobileSpan span{
    color: white;
    font-family: Bebas Neue;
    font-size: 20px
  }
}
